*{
    padding: 0%;
    margin: 0%;
}

.navbar{
    display: flex;
    flex-direction: row;
    background-color: #03041d;
    align-items: center;
    color: white;
    padding: 10px 0px 10px 40px;
}

.navbar >img{
    width: 170px;
    /* height: 10%; */
}

.title{
    text-align: center;
}

.card{
    padding-top: 12px;
    background-color: #fb6e3b;
    margin: 7% auto;
    border: solid 1px rgb(199, 199, 199);
    width: 200px;
    height: 175px;
    border-radius: 10px;
    box-shadow: 3px 3px rgb(105, 105, 105);
}

.form{
    height: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: space-around;
}

.Done a{
    text-decoration: none;
    padding: 7px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    background-color: #03041d;
}

.Done a:hover{
    color: #fb6e3b;
}